<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Prevent the browser from scaling down the entire page to fit the screen. See https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag. -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Eli's Blog</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/katex.css"> <!-- CSS for the rendered LaTeX. -->

    <script src="/static/js/lodash.min.js"></script>
    <script src="/static/js/jquery-2.2.2.js"></script>
    <script src="/static/js/katex.min.js"></script>
    <script src="/static/js/auto-render.min.js"></script>

    
<link rel="stylesheet" href="/static/css/page.css">

</head>

<body>
    <div class="container">
        <div class="header">
            <div>
                <a class="title" href="/index.html">Eli Rose</a> 's
                <a href="/index.html">posts</a>
                &sdot;
                <a href="/about.html">about</a>
                &sdot;
                <span class="dropdown">
                    <a href="javascript:void(0)">code trinkets</a>
                    <div class="dropdown-content">
                        <div>&sdot; <a href="/game_of_life.html">conway's game of life (in Elm)</a></div>
                        <div>&sdot; <a href="/turing.html">turing</a></div>
                        <div>&sdot; <a href="/sierpinski_fermat.html">sierpinksi's triangle and fermat numbers</a></div>
                        <div>&sdot; <a href="/fraction_pattern.html">fraction pattern</a></div>
                        <div>&sdot; <a href="/markov_text.html">literature scrambler</a></div>
                    </div>
                </span>
                &sdot;
                <a href="/quotes.html">quotes</a>
                &sdot;
                <a href="/media_log.html">media log</a>
            </div>

            <a href="/rss.xml">
                <img class="rss-icon" src="/static/images/feed-icon-28x28.png">
            </a>
        </div>

        <div id="content" class="content">
            
<div class="page-header">
    <div class="page-title">Media Log</div>
</div>
<div class="page-content">
    <p>Here I'm writing down books I read, movies I watched, etc. I may also write about them. Likely to be of more interest to me than to you.</p>
<div>
  <ul id="media-list">
  </ul>
</div>

<style>
  #media-list {
    list-style-type: none;
    margin-left: 2rem;
  }

  .media-list-item > .title-and-author {
    text-indent: -2rem; /* The combination of negative text-indent and margin causes all lines except the first to be indented. */
  }
</style>

<script>

// Returns the literal HTML of a list element.
function htmlForEntry(object) {
  return _.template(
    "<li class='media-list-item'><div class='title-and-author'><%= emoji %> <b><%= object.title %></b> by <%= object.author %>.</div><div><i>Finished on <%= object.date_completed %></i>.</div></li>"
  )({object: object, emoji: emojiForObject(object)});
}

function emojiForObject(object) {
  switch (object.type) {
    case 'album':
      return '💿';
      break;
    case 'movie':
      return '🎥';
      break;
    case 'novel':
    case 'essays':
    case 'nonfiction':
    case 'short stories':
    case 'short story':
    case 'poetry':
      return '📗';
      break;
    case 'academic paper':
      return '📜';
      break;
    case 'tv show':
      return '📺';
      break;
    case 'comic':
    case 'webcomic':
      return '🖼️';
      break;
    default:
      throw 'Unexpected object type: ' + object.type;
      break;
  }
}

$(document).ready(function(){
    $.getJSON('/data/json/media_log.json', function(data){
        // The data comes in ascending chronological order, but we want to display it in descending order.
        data.objects.reverse();
        $("#media-list").append(data.objects.map(htmlForEntry));
    })
});
</script>
</div>

        </div>
    </div>

    <!-- Automatically render the LaTeX that appears in the page. -->
    <script>
        renderMathInElement(
            document.getElementById("content"), {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "$", right: "$", display: false}
                ]
            }
        )
    </script>

</body>
</html>